.Form {
    position: absolute;
    width: 500px;
    height: 450px;
    left: -10%;
    animation: slidein 1s ease-in 1;
    top: 20%;
}
.FormSecond {
    position: absolute;
    width: 400px;
    height: 350px;
    top: 10%;
    right: 1px;
    animation: slideto 1s ease-in 1;
}
.Shadow {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 1px;
    top: 40%;
}
@media screen and (max-width: 900px) {
    .Form {
        width: 100px;
        height: 100px;
    }
    .FormSecond {
        width: 100px;
        height: 100px;
    }
 }
@keyframes slidein {
    from { opacity: 0;
            width: 400px;} 
    to {opacity: 1;
        width: 500px;}
}
@keyframes slideto {
    from { opacity: 0;
            width: 300px;} 
    to {opacity: 1;
        width: 400px;}
}
