.Main {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain
    }

.Leaf {
    height: 70%;
    width: 50%;
    position: absolute;
}
#First {
    left: 10px;
    top: 8px;
    height: 200px;
    width: 250px;
}

.Photo {
    object-fit: cover;
    height: 100%;
    width: 500px;
}
.TextContent {
	position: absolute;
	top: calc(50vh - 275px + 350px);
	align-items: center;
	text-align: center;
	background-color: black;
	width: 80%;
	max-width: 550px;
	height: 160px;
	justify-content: center;
}

.PhotoDivSmall {
	position: absolute;
	width: 90%;
	height: 120px;
	background-color: rgb(58, 54, 54);
	margin: 20px 5%;
	border-radius: 5px;
	align-items: center;
}

.PhotoDivBig {
	width: 100%;
	height: 160px;
}
h1 {
    position: relative;
    z-index: 1;
    font-family: cursive;
}
span {
    width: 120px;
    height: 1px;
    background-color: #FACE7F;
    animation: lineMove 2s linear 1; 
    margin-left: -60px;
    margin-top: -5%;
    z-index: 1;
    position: absolute;
}
@keyframes lineMove {
    from {
        width:0px;
    }
    to{
        width:122px;
    }
}